<div class="notice alert-info h4"><%= flash[:notice] %></div>
<div class="container">
 <div class="row">
  <div class="col-md-12">
   <h2 class="bg-light text-center w100">管理者ログイン</h2>
    <%= form_with model: @admin, url: admin_session_path, id: 'new_admin', class: 'new_admin', local: true do |f| %>
    <p class="notice"><%= notice %></p>
    <% if alert != nil%>
      <div class="alert alert-danger">
        <ul class="list-unstyled">
          <li><%= alert %></li>
        </ul>
      </div>
    <% end %>
     <table class="table table-borderless text-center">
      <tbody>
       <tr>
        <th>メールアドレス</th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size:"40" %></td>
       </tr>
       <tr>
        <th>パスワード</th>
        <td><%= f.password_field :password, autocomplete: "current-password", size:"40" %></td>
       </tr>
      </tbody>
     </table>
     <div class="row justify-content-center example">
       <%= f.submit "ログイン",class:"btn btn-primary center-block" %>
     </div>
    <% end %>
  </div>
 </div>
</div>


