<div class="container">
 <div class="row">
  <div class="col-md-12">
   <h2 class="bg-light text-center w100"><%= @customer.name %>さんの会員情報編集</h2>
    <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
     <%= render "admin/shared/error_messages", model: f.object %>
      <table class="table">
       <tbody>
        <tr>
         <th>会員ID</th>
         <td><%= @customer.id %></td>
        </tr>
        <tr>
         <th>アカウント名</th>
         <td><%= f.text_field :name %></td>
        </tr>
        <tr>
         <th>メールアドレス</th>
         <td><%= f.text_field :email %></td>
        </tr>
        <tr>
         <th>性別</th>
         <td><%= f.select :sex, Customer.sexes.keys.map {|k| [I18n.t("enums.customer.sex.#{k}"), k]} %></td>
        </tr>
        <tr>
         <th>会員ステータス</th>
         <td>
          <% if @customer.is_deleted == false %>
           <%= f.radio_button :is_deleted, false, checked:true, class:"text-success" %>有効　<%= f.radio_button :is_deleted, true %>退会
          <% else %>
           <%= f.radio_button :is_deleted, false, class: "text-success" %>有効　<%= f.radio_button :is_deleted, true, checked:true %>退会
          <% end %>
         </td>
        </tr>
       </tbody>
      </table>
     <div class= "row justify-content-center">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
     </div>
   <% end %>
  </div> 
 </div> 
</div>
