<div class="notice alert-info h4"><%= flash[:notice] %></div>
<div class="container">
 <div class="row">
  <div class="col-md-12">
   <h2 class="bg-light text-center w100"><%= @customer.name %>さんの会員詳細</h2>
    <table class="table">
     <tbody>
      <tr>
       <th>会員ID</th>
       <td><%= @customer.id %></td>
      </tr>
      <tr>
       <th>ユーザー名</th>
       <td><%= @customer.name %></td>
      </tr>
      <tr>
       <th>メールアドレス</th>
       <td><%= @customer.email %></td>
      </tr>
      <tr>
       <th>性別</th>
       <td><%= @customer.sex_i18n %></td>
      </tr>
      <tr>
       <th>会員ステータス</th>
       <td>
        <% @customer.is_deleted %>
        <% if @customer.is_deleted == false %><p class= "text-success" >有効</p>
        <% elsif @customer.is_deleted == true %>退会
        <% end %>
       </td>
      </tr>
     </tbody>
    </table>
    <div class="row justify-content-around position">
     <div>
      <%= link_to '編集する', edit_admin_customer_path, class: "btn btn-success" %>
      <%= link_to '会員一覧を見る', admin_customers_path, class: "btn btn-primary" %>
     </div>
    </div>
  </div>
 </div>
</div>

